<h3>New comment</h3>
<%= form_for [@article, @article.comments.build] do |f| %>
  <p>
    <%= f.label :text %><br>
  	<%= tinymce %>
    <%= f.text_area :text, :class => "tinymce", :rows => 40, :cols => 120 %>
  </p>
  <%= f.submit %>
<% end %>